/* Layout-Container */
.user-layout {
  display: flex;
  min-height: 80vh; 
}

/* Sidebar */
.sidenav {
  width: 200px;
  background-color:#444;
}

/* Sidebar-Links */
.sidenav a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}

.sidenav a:hover {
  opacity: 0.7;
}

.sidenav a:active {
  opacity: 0.4;
}

.sidenav .ticket-button {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 1em;
  padding: 10px;
  text-align: center;
  color:white;
  background-color:#0096FF;
  transition: opacity 0.2s;
}

.sidenav .ticket-button:hover {
  opacity: 0.7;
}

.sidenav .ticket-button:active {
  opacity: 0.4;
}

/* Hauptinhalt */
.user-content {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(to right, #222, #444);
  color: #f0f0f0; 
}

.account-headline {
  margin-bottom: 2rem;
}

.submit-button {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 1em;
  padding: 10px;
  text-align: center;
  color:white;
  background-color:#0096FF;
  border: none;
  transition: opacity 0.2s;
}

.submit-button:hover {
  opacity: 0.7;
}

.submit-button:active {
  opacity: 0.4;
}
