{% extends "base.html" %}

{# Kundenansicht ändern (eventuell Name des eingeloggten Nutzers) #}
{% block title %}Kundenansicht | FixItTogether{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/customer-style.css') }}">
{% endblock %}

{% block content %}
<div class="customer-layout">

{# Sidebar #}
  <div class="sidenav text-white p-3">
        <a href="#">Konto</a>
        <a href="#">Aufträge</a>
        <a href="#" class="ticket-button">Anfrage stellen</a>
    </div>

    <main class="customer-content">
        {% block customer_content %}
        {% endblock %}
    </main>
</div>
{% endblock %}