{% extends "base.html" %}

{# Kundenansicht ändern (eventuell Name des eingeloggten Nutzers) #}
{% block title %}Kundenansicht | FixItTogether{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user-style.css') }}">
{% endblock %}

{% block content %}
<div class="user-layout">

{# Sidebar #}
  <div class="sidenav text-white p-3">
        <a href="{{ url_for('customer.get_account_info') }}">Konto</a>
        <a href="{{ url_for('customer.get_tickets') }}">Aufträge</a>
        <a href="{{ url_for('customer.ticket_step1') }}" class="ticket-button">Anfrage stellen</a>
    </div>

    <main class="user-content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger w-50 mx-auto">
          {% for message in messages %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen"></button>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
        {% block user_content %}
        {% endblock %}
    </main>
</div>

{# Quelle: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp #}
{% endblock %}