{% extends "base.html" %}

{% block title %}Impressum | FixItTogether{% endblock %}

{% block content %}
<div class="section-dark text-light flex-grow-1">
    <div class = "container py-5">
        <h1 class = "mb-4">Impressum</h1>

        <p><strong>FixItTogether</strong> - Eine Webanwendung zur Förderung eigenständiger Reparaturen durch Hilfe eines Reparateurs</p>
        
        <h5 class = "mt-4">Angaben gemäß § 5 TMG:</h5>
        <p>Dieses Projekt ist Teil einer Studienleistung im Modul "Full Stack Web Development" an der Hochschule für Wirtschaft und Recht Berlin</p>

        <section class>
            <div class="container">
                <h2>Verantwortlich für den Inhalt:</h2>
                <div class="card-container">

                    <div class="contact-card">
                        <div class="name">Tim Lennart Mundt</div>
                        <div class="info"><strong>Matr.-Nr.:</strong> 77207437046</div>
                        <div class="info"><a href="mailto:s_mundt24@stud.hwr-berlin.de">s_mundt24@stud.hwr-berlin.de</a></div>
                    </div>

                    <div class="contact-card">
                        <div class="name">Denizcan Güney</div>
                        <div class="info"><strong>Matr.-Nr.:</strong> 77207785271</div>
                        <div class="info"><a href="mailto:s_gueny24@stud.hwr-berlin.de">s_gueny24@stud.hwr-berlin.de</a></div>
                    </div>

                    <div class="contact-card">
                        <div class="name">Baran Celik</div>
                        <div class="info"><strong>Matr.-Nr.:</strong> 77211933192</div>
                        <div class="info"><a href="mailto:s_celik22@stud.hwr-berlin.de">s_celik22@stud.hwr-berlin.de</a></div>
                    </div>
                </div>
            </div>
        </section>
        <h5 class="mt-5">Kontakt:</h5>
        <p>E-Mail: siehe oben (HWR-Studierendenaccounts)</p>

        <h5 class="mt-4">Haftungsausschluss:</h5>
        <p>Diese Website dient ausschließlich zu Demonstrations- und Lernzwecken im Rahmen des Studiums. Es wird keine Haftung für die Inhalte oder etwaige Schäden übernommen.</p>

        <a href="{{ url_for('staticpages.index') }}" class="btn btn-secondary mt-4">Zurück zur Startseite</a>
        </div>
</div>

{% endblock %}