{% extends 'base.html' %} 
{% block title %}Schritt 2 - Problem beschreiben | Fix It Together{% endblock %}

{% block content %}

<header class ="section-dark hero text-white d-flex align-items-center" style="min-height: 80vh;">
    <div class="container text-center">
        <h2 class="fw-bold mb-4">Schritt 2 - Problem beschreiben</h2>

        <form method="POST" class ="w-50 mx-auto bg-dark p-4 rounded shadow">
            <div class="mb-3 text-start">
                <label for="init_message" class="form-label">Beschreibe dein Problem</label>
                <textarea class="form-control" id="init_message" name="init_message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Weiter</button>
        </form>
    </div>
</header>

{% endblock %}
